/* Botão */
#btnTopo {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 12px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #007bff;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

#btnTopo img {
    width: 35px; /* Ajuste a largura do ícone conforme necessário */
    height: 35px; /* Ajuste a altura do ícone conforme necessário */
    vertical-align: middle; /* Alinha o ícone verticalmente no botão */
}

#btnTopo:hover {
    background-color: #0056b3;
}