/* Estilos para a seção Projetos */
#projects {
    padding: 20px; /* Espaçamento interno */
    margin: 2rem 0; /* Margem externa */
    background: #3a3a3c; /* Fundo da seção */
    border-radius: 8px; /* Arredondamento dos cantos */
    color: #f5f5f5; /* Cor do texto */
}

.project {
    display: flex;
    background-color: #ffffff; /* Fundo branco dos projetos */
    padding: 20px; /* Espaçamento interno dos projetos */
    border-radius: 8px; /* Arredondamento dos cantos */
    margin-bottom: 20px; /* Espaçamento entre projetos */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave para destacar os projetos */
    overflow: hidden; /* Para garantir que não haja sobreposição de conteúdo */
}

.project-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.project-info {
    flex: 1;
    padding-left: 20px; /* Espaçamento à esquerda para separar a imagem do texto */
}

.project-image {
    flex-shrink: 0; /* Não redimensionar a imagem */
    width: 200px; /* Largura fixa da miniatura */
    height: 150px; /* Altura fixa da miniatura */
    border-radius: 8px 0 0 8px; /* Arredondamento apenas no lado esquerdo */
    overflow: hidden; /* Ocultar partes da imagem que ultrapassam o container */
}

.project-image img {
    width: 100%; /* Ocupar todo o espaço disponível */
    height: 100%; /* Ocupar toda a altura disponível */
    object-fit: cover; /* Manter proporções e cortar a imagem para preencher o espaço */
}

.project h3 {
    color: #007bff; /* Cor do título do projeto */
    margin-top: 0; /* Remover margem superior do título */
}

.project p {
    color: #333333; /* Cor do texto descritivo */
    line-height: 1.6; /* Espaçamento entre linhas */
}

.project a {
    display: block;
    margin-top: 10px; /* Espaçamento acima dos links */
    text-decoration: none;
    color: #007bff; /* Cor do link */
    transition: transform 0.2s ease-in-out; /* Transição suave ao passar o mouse */
}

.project a:hover {
    text-decoration: underline; /* Sublinhar o link ao passar o mouse */
}

.project-link {
    display: block;
    text-decoration: none;
    color: inherit; /* Herda a cor do texto do pai (.project) */
}

.project-link:hover {
    transform: translateY(-3px); /* Efeito de levantamento ao passar o mouse */
}

.project-link:hover .project-info h3 {
    text-decoration: underline; /* Sublinha o texto ao passar o mouse */
}
