/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    /* Estilos para tornar a seção de projetos responsiva */
    .project {
        flex-direction: column;
    }

    .project-content {
        padding: 20px; /* Espaçamento interno para o conteúdo em telas menores */
        border-radius: 0 0 8px 8px; /* Arredondar bordas apenas na parte inferior em telas menores */
        background-color: #ffffff; /* Fundo branco para separar visualmente os projetos */
    }

    .project-image {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        border-radius: 8px 8px 0 0;
        overflow: hidden; /* Esconder partes da imagem que ultrapassem o container */
    }

    .project-info {
        padding: 20px;
        border-radius: 0 0 8px 8px;
        background-color: #ffffff;
        text-align: center; /* Centralizar o conteúdo */
    }

    /* Estilos para o botão "Voltar ao Topo" em dispositivos móveis */
    #btnTopo {
        padding: 5px; /* Reduz o padding do botão */
    }

    #btnTopo img {
        width: 25px; /* Reduz a largura do ícone */
        height: 25px; /* Reduz a altura do ícone */
    }

    #btnTopo .label {
        font-size: 0.6rem; /* Reduz o tamanho da fonte da label */
    }
}