body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #022160;
    color: #f5f5f5;
}

header {
    background: #1e1e1e;
    color: #f5f5f5;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #f5f5f5;
    text-decoration: none;
}

section {
    padding: 2rem;
    margin: 2rem 0;
    background: #3a3a3c;
    border-radius: 8px;
    color: #f5f5f5;
}

.project {
    display: flex;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave para destacar o projeto */
}

.project-content {
    display: flex;
    align-items: center; /* Alinha verticalmente os elementos */
    width: 100%;
}

.project-image {
    flex-shrink: 0; /* Não redimensiona a imagem */
    width: 200px; /* Largura fixa para a imagem miniatura */
    height: 150px; /* Altura fixa para a imagem miniatura */
    margin-right: 20px; /* Espaçamento à direita para separar da info */
    border-radius: 8px; /* Arredondar bordas da imagem */
    overflow: hidden; /* Esconder partes da imagem que ultrapassem o container */
}

.project-image img {
    width: 100%; /* Garante que a imagem ocupe todo o espaço dentro de .project-image */
    height: 100%; /* Garante que a imagem ocupe todo o espaço dentro de .project-image */
    object-fit: cover; /* Mantém proporções e corta a imagem para preencher o espaço */
}

.project-info {
    flex: 1; /* Ocupa todo o espaço disponível */
}

.project h3 {
    color: #022160; /* Cor do título do projeto */
    margin-top: 0; /* Remove a margem superior padrão */
}

.project p {
    color: #333333; /* Cor do texto descritivo */
    line-height: 1.6;
}

.project a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff; /* Cor do link */
}

.project a:hover {
    text-decoration: underline; /* Sublinhar o link ao passar o mouse */
}

@media (max-width: 768px) {
    .project {
        flex-direction: column; /* Empilha os elementos em telas menores */
    }

    .project-image {
        width: 100%; /* Ocupa toda a largura disponível */
        height: auto; /* Altura automática para manter a proporção */
        margin-bottom: 10px; /* Espaçamento abaixo da imagem em telas menores */
        border-radius: 8px 8px 0 0; /* Arredondar bordas apenas no topo em telas menores */
    }

    .project-info {
        padding: 20px; /* Espaçamento interno para o conteúdo em telas menores */
        border-radius: 0 0 8px 8px; /* Arredondar bordas apenas na parte inferior em telas menores */
        background-color: #ffffff; /* Fundo branco para separar visualmente os projetos */
    }
}

footer {
    text-align: center;
    padding: 0.5rem; /* Ajustado para melhor legibilidade */
    background: #1e1e1e;
    color: #f5f5f5;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.8rem;
}

/* Reset de margens e paddings */
.social-icon {
    display: inline-block; /* Exibir em linha para ficarem lado a lado */
    margin: 0; /* Remover margens */
    padding: 0; /* Remover paddings */
}

/* Estilo para os ícones */
.social-icon img {
    width: 40px; /* Definir largura dos ícones */
    height: auto; /* Altura automática para manter proporção */
    margin-right: 10px; /* Margem à direita para separar os ícones */
}
